*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.cmd
*.bat
*.sh
*.py
*.txt
*.pyc
*.properties
CHANGELOG

client/*
common/*
fml/*
patches/*

mcp/bin/*
mcp/conf/*
mcp/docs/*
mcp/eclipse/*
mcp/jars/*
mcp/lib/*
mcp/logs/*
mcp/modsrc/*
mcp/reobf/*
mcp/runtime/*
mcp/temp/*

mcp/
mcp/src/
mcp/src/minecraft/

mcp/src/minecraft/net/*
mcp/src/minecraft/cpw/*
mcp/src/minecraft/ibxm/*
mcp/src/minecraft/paulscode/*
mcp/src/minecraft/*.cfg

mcp/src/minecraft/Start.java
mcp/src/minecraft/mcpmod.info
*.png
