*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.cmd
*.bat

client/*
common/*
fml/*
patches/*

mcp/bin/*
mcp/conf/*
mcp/docs/*
mcp/eclipse/*
mcp/jars/*
mcp/lib/*
mcp/logs/*
mcp/modsrc/*
mcp/reobf/*
mcp/runtime/*
mcp/temp/*